[submodule "step_perf_ir"]
	path = step_perf_ir
	url = https://github.com/stanford-ppl/step_perf_ir_artifact.git
[submodule "step-perf"]
	path = step-perf
	url = https://github.com/stanford-ppl/step_perf_artifact.git
